# Ignore build outputs
/bin/
/obj/
*.suo
*.user
*.cache

# Ignore Python cache
__pycache__/

# Ignore backup and support directories
/backup/
/Support/

# Ignore residual backups
*.bak

# Ignore Visual Studio files
.vs/

# Ignore macOS system files
.DS_Store
*/.DS_Store
**/.DS_Store
.vscode/
KEY.txt


scripts/segmentanything/sam2/utils/__pycache__
.claude
GeneratedComponents